<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/userCenter.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container">
    	<div class="box user_box">
        	<h1>{$data['user']}的成绩表</h1>
        </div>
        <volist name="" id=""></volist>
        <div class="box">
        	<h6>{$data['term']}学期</h6>
            <a class="item" href="#">
            	<span class="td title">班级积分</span>
                <span class="td count">120</span>
                <span class="td to">查看详情&gt; </a>
            </a>
            <a class="item" href="#">
            	<span class="td title">班级积分</span>
                <span class="td count">120</span>
                <span class="td to">查看详情&gt; </a>
            </a>
            <a class="item" href="#">
            	<span class="td title">班级积分</span>
                <span class="td count">120</span>
                <span class="td to">查看详情&gt; </a>
            </a>
        </div>

    </div>
</body>
</html>
