<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学院树洞</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Public/style.css"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav>
    <h3 onclick="location='/'">学院树洞 <span class="label label-success fr">Ling.</span></h3>
</nav>

<main>
    <ul>
        <li>
            <div class="line">
                <div class="title">Ling:</div>
                <div class="date">2015-06-12</div>
            </div>
            <div class="content">明天开始做一个不一样的自己!</div>
            <a class="btn btn-info right" href="##">评论</a>
        </li>
        <li>
            <div class="line">
                <div class="title">Ling:</div>
                <div class="date">2015-06-12</div>
            </div>
            <div class="content">明天开始做一个不一样的自己!</div>
            <a class="btn btn-info right" href="##">评论</a>
        </li>
    </ul>
</main>


<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>