<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/style.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container">
        <volist id="fitem" name="data">
            <div class="box">
                <h6>{$key}</h6>
                <volist id="item" name="fitem">
                    <a class="item" href="##">
                        <span class="td title des">{$item['description']}</span>
                        <span class="td count phone">{$item['phone']}</span>
                        <span class="td to email">{$item['email']}</a>
                    </a>
                </volist>
            </div>
        </volist>
    </div>
</body>
</html>
